<h1>Is your text a palindrome?</h1>
<form action='/input'>
  <label for="text">Enter text:</label>
    <div class="form-group" id="text">
     <label for="text">Name:</label>
     <input id="text" class="form-control" name="text" type="text" placeholder="Text Here">
   </div>
  <button type='submit' class='btn'>Submit</button>
</form>
